<!-- list.html -->
<!DOCTYPE html>
<html lang="ja">
    <head>
    </head>
    <body>
        <h3>以下のトレンド情報サイトから今一番ホットなワードを抽出</h3>
        <p>
            {% for i in range(urls|length): %}
                <a href="{{ urls[i] }}" target="_blank">{{ titles[i] }}</a><br>
            {% endfor %}
        </p>
        <p>
            ↓<br/>
            結果：<br/>
        </p>
        <p>
            {% for elems in elems_list: %}
                {% for elem in elems %}
                    {{ elem.getText() }}
                {% endfor %}
            {% endfor %}
        </p>
        <p>
            デバッグ<br/>
            {{ text }}
        </p>
    </body>
</html>